table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead  {
    height: 50px;
 }
#team-1{
    width: 35%;
    float: left;
}
#team-2{
    width: 35%;
    float: left;
}
#btn-team-1{
    margin-left: 50%;
    color: white;
    background-color: blue;
}
#btn-team-2{
    margin-left: 50%;
    color: white;
    background-color: blue;
}
h1{
    margin-left: 35%;
}
#stats{
    width:30%;
    float: left;
}